@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$color-primary-0: #52A55C;	// Main Primary color */
$color-primary-1: #ADFCB6;
$color-primary-2: #79D784;
$color-primary-3: #235E2A;
$color-primary-4: #051107;

$color-secondary-1-0: #417C81;	// Main Secondary color (1) */
$color-secondary-1-1: #ACF3FA;
$color-secondary-1-2: #69B3BA;
$color-secondary-1-3: #1C4549;
$color-secondary-1-4: #040C0D;

$color-secondary-2-0: #D59C6A;	// Main Secondary color (2) */
$color-secondary-2-1: #FFD4AF;
$color-secondary-2-2: #FFC48F;
$color-secondary-2-3: #79502D;
$color-secondary-2-4: #160E07;

$color-complement-0: #D56F6A;	// Main Complement color */
$color-complement-1: #FFB3AF;
$color-complement-2: #FF958F;
$color-complement-3: #79302D;
$color-complement-4: #160707;

$green: #52a55d;
$blue: #1C4549;
$light-blue: #69B3BA;
$red: #79302D;
$light-red: #D56F6A;
$orange: #D59C6A;
$brown: #79502D;
$black: #000;

@mixin gridSquares($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 1fr;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

#drum-machine {
  display: grid;
  margin: 10px auto;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
  "pads display"
  "pads recording-top-bar"
  "pads recording"
  "volume recording-bottom-bar";
  max-width: 1024px;
  white-space: nowrap;
}

footer {
  max-width: 1024px;
  margin: auto;
}

#drum-pads {
  @include gridSquares(3);
  grid-area: pads;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
  border-bottom: none;

  button {
    transition: all 0.05s ease-in-out;
    background: #fff;
    border: 1px solid black;
    border-radius: 7px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 4px #001122;
    }

    &.pressed {
      background: #aaa;
    }
  }
}

.drum-pad {
  font-size: 1.5em;
  user-select: none;
}

#display {
  grid-area: display;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
  border-left: none;
}

#recording-top-bar {
  grid-area: recording-top-bar;
  border: 1px solid black;
  border-left: none;
  border-top: none;
}

#recording {
  cursor: default;
  position: relative;
  grid-area: recording;
  overflow: auto;
  border: 1px solid black;
  border-left: none;
  border-top: none;

  & > div {
    max-height: 100%;
    position: absolute;
    margin: 2px;
  }

  &.state-paused {
    .entry-selected {
      .edit, .delete {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.entry {
  transition: all 0.05s ease-in-out;
  margin: 0 2px;
  border: 1px solid transparent;

  .info {
    padding: 0 4px;
  }

  .edit, .delete {
    line-height: 100%;
    margin: 0;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    padding: 2px 4px;
    transition: opacity 0.5s ease-in;
  }

  &.entry-playing {
    .info {
      background: #aaa;
    }
  }
  &.entry-selected, &.entry-playing {
    .info {
      border: 1px solid black;
      border-radius: 3px;
      box-shadow: 0px 0px 4px #001122;
    }
  }
}

#recording-bottom-bar {
  grid-area: recording-bottom-bar;
  border: 1px solid black;
  border-left: none;
  border-top: none;
}

#volume {
  grid-area: volume;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid black;
  border-top: none;

  img {
    width: 20px;
    opacity: .75;
  }

  input
  {
    margin: 0 10px;
    flex: 1 1 auto;
  }
}

.button-bar {
  button:disabled img {
    opacity: 0.2;
  }
}

.edit-form {
  position: absolute;
  white-space: pre-wrap;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  label {
    display: block;
  }
  select, .form-control {
    display: inline-block;
    min-width: 150px;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  #drum-pads {
    gap: 15px;
    padding: 15px;
  }

  .record-button img {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 500px) {
  #drum-pads {
    gap: 10px;
    padding: 10px;
  }

  .record-button img {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 425px) {
  .record-button img {
    width: 15px;
    height: 15px;
  }
}