@import '../node_modules/bootstrap/dist/css/bootstrap.css';

@mixin gridSquares($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 1fr;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

#drum-machine {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
  "pads display volume"
  "pads recording-top-bar volume"
  "pads recording volume"
  "pads recording-bottom-bar volume";
  max-width: 1024px;
  margin: auto;
}

footer {
  max-width: 1024px;
  margin: auto;
}

#drum-pads {
  @include gridSquares(3);
  grid-area: pads;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;

  button {
    transition: all 0.05s ease-in-out;
    background: #fff;
    border: 1px solid black;
    border-radius: 7px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 4px #001122;
    }

    &.pressed {
      background: #aaa;
    }
  }
}

#display {
  grid-area: display;
  font-size: 1.5em;
  text-align: center;
}

#recording-top-bar {
  grid-area: recording-top-bar;
}

#recording {
  cursor: default;
  position: relative;
  grid-area: recording;
  overflow: auto;

  & > div {
    max-height: 100%;
    position: absolute;
    margin: 2px;
  }

  &.state-paused {
    .entry-selected {
      .edit, .delete {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.entry {
  transition: all 0.05s ease-in-out;
  margin: 0 2px;
  border: 1px solid transparent;

  .info {
    padding: 0 4px;
  }

  .edit, .delete {
    line-height: 100%;
    margin: 0;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    padding: 2px 4px;
    transition: opacity 0.5s ease-in;
  }

  &.entry-playing {
    .info {
      background: #aaa;
    }
  }
  &.entry-selected, &.entry-playing {
    .info {
      border: 1px solid black;
      border-radius: 3px;
      box-shadow: 0px 0px 4px #001122;
    }
  }
}

#recording-bottom-bar {
  grid-area: recording-bottom-bar;
}

#volume {
  grid-area: volume;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 20px;
    opacity: .75;
  }

  input
  {
    flex: 1 1 auto;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    margin: 8px 0;
  }
}

.button-bar {
  button:disabled img {
    opacity: 0.2;
  }
}

.edit-form {
  position: absolute;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  select {
    width: auto;
  }
}

@media only screen and (max-width: 700px) {
  #drum-pads {
    gap: 15px;
    padding: 15px;
  }

  .record-button img {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 500px) {
  #drum-pads {
    gap: 10px;
    padding: 10px;
  }

  .record-button img {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 425px) {
  .record-button img {
    width: 15px;
    height: 15px;
  }
}