@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$green: #235E2A;
$light-green: #79D784;
$blue: #1C4549;
$light-blue: #69B3BA;
$red: #79302D;
$light-red: #D56F6A;
$orange: #D59C6A;
$brown: #79502D;
$black: #000;

@mixin gridSquares($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-auto-rows: 1fr;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

@mixin dividerBorder {
  border: 5px solid $black;
}

@mixin glow($color) {
  border: 1px solid $color;
  box-shadow: 0px 0px 3px $color;
}

body {
  padding: 0 10px;
}

h1 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  color: #ec8c37;
  font-family: 'Overpass Mono', monospace;
}
footer {
  padding-top: 10px;
  font-family: 'Overpass Mono', monospace;
}

.btn {
  line-height: 0;
  padding: 10px;
  background: $orange;
  background: linear-gradient(135deg, $orange, $brown);
  transition: all 0.05s ease-in-out;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  box-shadow: 1px 1px 2px #000;
  border-radius: 7px;

  &:hover:not(:disabled) {
    background: scale-color($orange, $lightness: 20%);
    background: linear-gradient(135deg, scale-color($orange, $lightness: 20%), scale-color($brown, $lightness: 20%));
  }

  &:focus {
    box-shadow: none;
  }

  &:disabled {
    img {
      opacity: 0.2;
    }
  }
}

html, body {
  background: $black;
  color: #fff;
  user-select: none;
}

footer {
  max-width: 1024px;
  margin: auto;
}

#drum-machine {
  display: grid;
  margin: 0 auto;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
  "pads display"
  "pads recording-top-bar"
  "pads recording"
  "volume recording-bottom-bar";
  max-width: 1024px;
  white-space: nowrap;
}

#drum-pads {
  @include dividerBorder();
  @include gridSquares(3);
  grid-area: pads;
  gap: 20px;
  padding: 20px;
  border-bottom: none;
  border-left: none;
  background: linear-gradient(to bottom, $blue 5%, $light-blue 100% );

  button {
    background: $green;
    background: linear-gradient(135deg, $light-green, $green);
    color: #ffffff;

    &:hover {
      background: scale-color($green, $lightness: 20%);
      background: linear-gradient(135deg, scale-color($light-green, $lightness: 20%), scale-color($green, $lightness: 20%));
    }
    &:focus {
      outline: none;
      box-shadow: 0px 0px 8px #ffffff;
    }
    &.pressed {
      background: scale-color($green, $lightness: 50%);
      background: linear-gradient(135deg, scale-color($light-green, $lightness: 50%), scale-color($green, $lightness: 50%));
    }
  }
}

.drum-pad {
  font-size: 1.5em;
}

#display {
  @include dividerBorder();
  grid-area: display;
  background: $red;
  font-size: 1.5em;
  text-align: center;
  border-left: none;
}

#recording-top-bar {
  @include dividerBorder();
  grid-area: recording-top-bar;
  background: $red;
  border-left: none;
  border-top: none;
}

#recording {
  @include dividerBorder();
  background: linear-gradient(to bottom, $red 5%, $light-red 100%);
  color: #fff;
  cursor: default;
  position: relative;
  grid-area: recording;
  overflow: auto;
  border-left: none;
  border-top: none;

  & > div {
    max-height: 100%;
    position: absolute;
    margin: 2px;
  }

  &.state-paused {
    .entry-selected {
      .edit, .delete {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.entry {
  position: relative;
  display: flex;
  transition: all 0.05s ease-in-out;
  margin: 0 2px;
  border: 1px solid transparent;

  .info {
    padding: 0 4px;
  }

  .edit, .delete {
    line-height: 100%;
    margin: 0;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    padding: 2px 4px;
    transition: opacity 0.25s ease-in;
  }

  &.entry-playing {
    .info {
      background: scale-color($red, $lightness: -33%);
    }
  }
  &.entry-selected, &.entry-playing {
    .info {
      @include glow(#ddd);
      border-radius: 3px;
    }
  }
}

#recording-bottom-bar {
  @include dividerBorder();
  grid-area: recording-bottom-bar;
  background: $light-red;
  border-left: none;
  border-top: none;
}

#volume {
  @include dividerBorder();
  grid-area: volume;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: none;
  border-left: none;
  background: $light-blue;

  img {
    width: 20px;
    opacity: .75;
  }

  input
  {
    margin: 0 10px;
    flex: 1 1 auto;
  }
}

.edit-form {
  @include glow(#ddd);
  z-index: 1;
  position: absolute;
  top: 1.75em;
  white-space: pre-wrap;
  background: linear-gradient(135deg, #333, $black);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  label {
    display: block;
    margin: 0;
  }
  select, .form-control {
    height: auto;
    padding: 2px;
    display: inline-block;
    min-width: 150px;
    width: 100%;
  }
  .form-group {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 650px) {
  body {
    padding: 0 15%;
  }
  #recording {
    min-height: 300px;
  }
  #volume {
    padding-bottom: 5px;
  }

  #drum-machine {
    grid-template-rows: repeat(autofill, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "pads"
    "volume"
    "display"
    "recording-top-bar"
    "recording"
    "recording-bottom-bar";
  }
}

@media only screen and (max-width: 450px) {
  .record-button {
    padding: 7px;
  }
  body {
    padding: 0 10%;
  }
  #recording {
    min-height: 250px;
  }

}

@media only screen and (max-width: 350px) {
  .record-button {
    padding: 5px;
  }
  body {
    padding: 0 5%;
  }
  #recording {
    min-height: 200px;
  }
}

@media only screen and (max-width: 300px) {
  .record-button {
    padding: 3px;
  }
  body {
    padding: 0 3%;
  }
}